.products {
  margin-top: 50px;
}
.products .container header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.products .container header .title {
  width: 210px;
  height: 65px;
  background: url(../img/Products/title/title.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 13px;
  text-align: center;
}
.products .container header .title h2 {
  font-size: 45px;
  text-transform: uppercase;
}
.products .container header .title p,
.products .container header .title span {
  text-transform: uppercase;
  font-size: 14px;
  color: #0089cf;
}
.products .container .filter {
  text-align: end;
  padding-right: 30px;
  margin-bottom: 50px;
}
.products .container .filter a {
  font-size: 20px;
  text-transform: uppercase;
}
.products .container .cards .first-type {
  max-width: 760px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products .container .cards .first-type .image-block img {
  max-width: 120%;
}
.products .container .cards .second-type {
  max-width: 1130px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 530px;
  transform: translateX(200px);
}
.products .container .cards .second-type .shoes {
  width: 380px;
  background: #f2f9fd;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.products .container .cards .second-type .shoes .image-block {
  width: 90%;
  align-self: center;
}
.products .container .cards .second-type .shoes .text-block {
  margin: 25px 0 70px 0;
}
.products .container .cards .second-type .clothe {
  width: 530px;
  border: 10px solid #f2f9fd;
  display: flex;
  position: relative;
}
.products .container .cards .second-type .clothe .image-block {
  width: 280%;
  transform: translateX(65px);
}
.products .container .cards .second-type .clothe .text-block {
  position: absolute;
  top: 200px;
  left: -115px;
}
.products .container .cards .text-block {
  width: 45%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.products .container .cards .text-block .card-title {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
}
.products .container .cards .text-block .card-descr {
  font-weight: 300;
  font-size: 18px;
}
.products .container .cards .text-block .card-price {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.products .container .cards .image-block {
  width: 45%;
  display: flex;
  text-align: center;
  align-items: center;
}
.products .container .cards .image-block img {
  max-width: 100%;
}
.products .container .cards .first-type-reversed {
  flex-direction: row-reverse;
}
.products .container .cards .second-type-reversed {
  flex-direction: row-reverse;
  transform: translateX(-200px);
}
.products .container .cards .second-type-reversed .clothe .text-block {
  left: 430px;
}
.products .container .cards .second-type-reversed .clothe .image-block {
  transform: translateX(-65px);
}
@media (max-width: 575.98px) {
  .products .container .cards .first-type {
    flex-direction: column;
    align-items: center;
  }
  .products .container .cards .first-type .image-block img {
    max-width: 100%;
  }
  .products .container .cards .second-type {
    flex-direction: column;
    align-items: center;
    transform: translateX(0px);
    height: unset;
  }
  .products .container .cards .second-type .shoes {
    margin-top: 30px;
    width: 300px;
  }
  .products .container .cards .second-type .shoes .image-block {
    margin-top: 30px;
  }
  .products .container .cards .second-type .clothe {
    margin: 30px 0;
    padding: 15px 0;
    box-sizing: border-box;
    display: block;
    width: 300px;
  }
  .products .container .cards .second-type .clothe .image-block {
    width: 100%;
    transform: translateX(0px);
  }
  .products .container .cards .second-type .clothe .text-block {
    position: static;
  }
  .products .container .cards .image-block {
    width: 95%;
    justify-content: center;
  }
  .products .container .cards .text-block {
    width: 95%;
  }
}
@media (min-width: 576px) and (max-width: 649.98px) {
  .products .container .cards .first-type {
    flex-direction: column;
    align-items: center;
  }
  .products .container .cards .first-type .image-block img {
    max-width: 100%;
  }
  .products .container .cards .second-type {
    flex-direction: column;
    align-items: center;
    transform: translateX(0px);
    height: unset;
  }
  .products .container .cards .second-type .shoes {
    margin-top: 30px;
    width: 300px;
  }
  .products .container .cards .second-type .shoes .image-block {
    margin-top: 30px;
  }
  .products .container .cards .second-type .clothe {
    margin: 30px 0;
    padding: 15px 0;
    box-sizing: border-box;
    display: block;
    width: 300px;
  }
  .products .container .cards .second-type .clothe .image-block {
    width: 100%;
    transform: translateX(0px);
  }
  .products .container .cards .second-type .clothe .text-block {
    position: static;
  }
  .products .container .cards .image-block {
    width: 95%;
    justify-content: center;
  }
  .products .container .cards .text-block {
    width: 95%;
  }
}
@media (min-width: 650px) and (max-width: 767.98px) {
  .products .container .cards .first-type .image-block img {
    max-width: 100%;
  }
  .products .container .cards .second-type {
    align-items: center;
    transform: translateX(0px);
    height: unset;
  }
  .products .container .cards .second-type .shoes {
    margin-top: 0px;
    width: 300px;
  }
  .products .container .cards .second-type .shoes .image-block {
    margin-top: 30px;
  }
  .products .container .cards .second-type .clothe {
    margin: 30px 0;
    padding: 15px 0;
    box-sizing: border-box;
    display: block;
    width: 300px;
  }
  .products .container .cards .second-type .clothe .image-block {
    width: 100%;
    transform: translateX(0px);
  }
  .products .container .cards .second-type .clothe .text-block {
    position: static;
  }
  .products .container .cards .image-block {
    width: 95%;
    justify-content: center;
  }
  .products .container .cards .text-block {
    width: 95%;
  }
}
@media (min-width: 768px) and (max-width: 849.98px) {
  .products .container .cards .first-type .image-block img {
    max-width: 100%;
  }
  .products .container .cards .second-type {
    width: 95%;
    align-items: center;
    transform: translateX(0px);
    height: unset;
  }
  .products .container .cards .second-type .shoes {
    margin-top: 0px;
    width: 300px;
  }
  .products .container .cards .second-type .shoes .image-block {
    margin-top: 30px;
  }
  .products .container .cards .second-type .clothe {
    margin: 30px 0;
    padding: 15px 0;
    box-sizing: border-box;
    display: block;
    width: 300px;
  }
  .products .container .cards .second-type .clothe .image-block {
    width: 100%;
    transform: translateX(0px);
  }
  .products .container .cards .second-type .clothe .text-block {
    position: static;
  }
  .products .container .cards .image-block {
    width: 95%;
    justify-content: center;
  }
  .products .container .cards .text-block {
    width: 95%;
  }
}
@media (min-width: 850px) and (max-width: 991.98px) {
  .products .container .cards .first-type .image-block img {
    max-width: 100%;
  }
  .products .container .cards .second-type {
    align-items: center;
    transform: translateX(45px);
    height: unset;
  }
  .products .container .cards .second-type .shoes {
    margin-top: 0px;
    width: 300px;
  }
  .products .container .cards .second-type .shoes .image-block {
    margin-top: 30px;
  }
  .products .container .cards .second-type .clothe {
    box-sizing: border-box;
    display: flex;
    width: 450px;
  }
  .products .container .cards .second-type .clothe .image-block {
    width: 100%;
    transform: translateX(65px);
  }
  .products .container .cards .second-type .clothe .image-block img {
    max-width: 85%;
  }
  .products .container .cards .second-type .clothe .text-block {
    position: absolute;
    top: 120px;
    left: -175px;
  }
  .products .container .cards .image-block {
    width: 95%;
    justify-content: center;
  }
  .products .container .cards .text-block {
    width: 95%;
  }
  .products .container .cards .second-type-reversed {
    transform: translateX(-45px);
  }
  .products .container .cards .second-type-reversed .clothe .text-block {
    left: 240px;
  }
  .products .container .cards .second-type-reversed .clothe .image-block {
    transform: translateX(-65px);
  }
}
